
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About_us</title>
</head>
<body>
    <h2>This is about our Websitepage</h2>
    <p> Need help?</p>
    

    </body>
</html>
