
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Welcome to my App</h1>
    <p> @DateTime.Now</p>
    <p> Sum=@(10+18)</p>

    @{ 
        int a = 67;
        int b = 87;
        int c = a + b;
    }
<h1>@c</h1>
<h3>Email-antohmulli@outlook.com</h3>
    //escape sequence we use @@ to display our accounts

<h2>Twitter-@@santozpalmer</h2>
</body>
</html>
