@model IEnumerable<MVC_SETUP.Models.Bookmodel>
@{
    Layout ="_Layout";
}

<div class="container">
    <h1 class="display-4">All Books</h1>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="card mb-3" style="max-width: 450px;">
                <div class="row g-0">

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@book.TiTle</h5>
                            <p class="card-text">@book.Description</p>
                            <p class="card-text"><small class="text-muted">@book.Author</small></p>
                        </div>
                    </div>
                </div>
                </div>
                }
            </div>
        </div>    
