
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h1 >Our Available Books</h1>
    <button>See Books </button>
    <p>MVC</p>
    <p>CSharp</p>
    <p>Java</p>
    <p>JQuery</p>

</body>
</html>
